{% extends '_page_theme.html.twig' %}

{% block title %}{{ parent() }} - Blog Archive{% endblock %}

{% block description %}
    {%- apply normalize_text %}
        Articles about programming, hacking, electronics and more.
        Browse and search the machinateur.dev blog archive by title, author and month.
    {% endapply -%}
{% endblock %}

{% block style %}
    {{ parent() }}
    <style>
        .mb-0-p > p {
            margin-bottom: 0;
        }
    </style>
{% endblock %}

{% set profile_picture   = 'data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=' %}
{% set recent_blog_posts = blog_posts|map((p) => {
    'fileinfo': p,
    'post_data': {
        'display': 1 == block('post_display',    p.relativePathname),
        'title':        block('post_title',      p.relativePathname),
        'description':  block('description',     p.relativePathname),
        'author':       block('post_author',     p.relativePathname),
        'date':         block('post_date',       p.relativePathname),
        'tags':         block('post_tags',       p.relativePathname)|split(','),
        'read_time':    block('post_read_time',  p.relativePathname),
        'image':        block('post_image',      p.relativePathname),
        'image_alt':    block('post_image_alt',  p.relativePathname),
        'content':      block('post_content',    p.relativePathname),
        'subject_id':   block('post_subject_id', p.relativePathname),
    },
    'path': p.relativePath|replace({
        '\\': '/',
    })['content'|length:]|trim('/', 'left') ~ '/'~ p.filenameWithoutExtension[:-'.html'|length],
})|sort((a, b) => b.post_data.date <=> a.post_data.date)
    |filter((v, k) => v.post_data.display is same as(true))
    |filter((v, k) => v.post_data.date <= 'now'|date('Y-m-d')) %}

{% block body_content %}
    <script type="text/javascript">
        window.search_data = [];
    </script>

    <div class="mx-auto py-5 px-3">
        <div class="border-bottom pb-3">
            <h1 class="display-1 mb-4">Blog</h1>

            {% set search_authors = recent_blog_posts|map((p) => p.post_data.author)|unique %}
            {% set search_months  = recent_blog_posts|map((p) => p.post_data.date|date('M Y'))|unique %}

            <div class="py-2">
                <button type="button" class="btn btn-outline-dark border-2" data-bs-toggle="collapse"
                        data-bs-target="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch">
                    {{ source('svg/search.svg') }} Search...
                </button>
            </div>

            <div class="collapse" id="collapseSearch">
                <form id="search">
                    <div class="bg-white border">
                        <div class="p-3" style="line-height: 3;">
                            <span>Search for</span>
                            <label for="searchText">text</label>
                            <input class="form-control d-inline w-auto" type="text" placeholder="" id="searchText">
                            <span>in posts by</span>
                            <label for="searchAuthor">author</label>
                            <select class="form-select d-inline w-auto" id="searchAuthor">
                                <option selected>any</option>
                                {% for author in search_authors %}
                                    <option value="{{ author }}">{{ '@' ~ author }}</option>
                                {% endfor %}
                            </select>
                            <span>published in</span>
                            <label for="searchMonth">month</label>
                            <select class="form-select d-inline w-auto" id="searchMonth">
                                <option selected>any</option>
                                {% for month in search_months %}
                                    <option value="{{ month }}">{{ month }}</option>
                                {% endfor %}
                            </select>
                            <span>.</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div>
            {% for blog_post in recent_blog_posts %}
                <div class="{{ loop.first ? 'border-top-0' : 'border-top' }} py-4">
                    <script type="text/javascript">
                        window.search_data[window.search_data.length] = {
                            element: document.currentScript,
                            data: {{ blog_post.post_data|filter((v, k) => k in [
                                'title',
                                'author',
                                'date',
                                'tags',
                                'read_time',
                            ])|json_encode|raw }}
                        };
                    </script>

                    {% set author         = blog_post.post_data.author %}
                    {% set author_link    = 'https://github.com/' ~ author %}
                    {% set author_profile = author_link ~ '.png' %}

                    <a class="text-decoration-none" href="{{ path('page_view', {
                        'path': blog_post.path,
                    }) }}">
                        <h2 class="h1 fw-500">{{ blog_post.post_data.title }}</h2>
                    </a>

                    <div class="d-flex align-items-center">
                        <a class="d-flex align-items-center text-body text-decoration-none" href="{{ author_link }}"
                           target="_blank" rel="author external noopener noreferrer">
                            <img class="mb-0 me-2 rounded" src="{{ profile_picture }}"
                                 data-src="{{ author_profile ~ '?size=32' }}" alt="" width="32" height="32"
                                 referrerpolicy="no-referrer">
                            <span>{{ '@' ~ author }}</span>
                        </a>

                        <span class="d-flex align-items-center ms-3 text-center"
                              title="{{ blog_post.post_data.date|date('D, d M Y H:i:s') }}">
                            <span class="me-2">{{ source('svg/calendar-event.svg') }}</span> {{ blog_post.post_data.date|date('M d, Y') }}
                        </span>

                        {% if blog_post.post_data.read_time is not empty %}
                            <span class="d-flex align-items-center ms-3 text-center">
                                <span class="me-2">{{ source('svg/clock.svg') }}</span> {{ blog_post.post_data.read_time }}
                            </span>
                        {% endif %}
                    </div>

                    <div class="pt-2 text-body small mb-0-p">
                        {{ blog_post.post_data.content|pcre_replace([
                            '#<h[0-6]#',
                            '#<\/h[0-6]>#',
                        ], [
                            '<p',
                            '</p>',
                        ])|striptags([
                            'p'
                        ])|u.truncate(240, '...', true)|raw }}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="py-3 border-top text-center">
            <a class="btn btn-outline-primary btn-lg border-2" href="{{ main_content_id }}">
                Back to page start
            </a>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ parent() }}
    <script type="text/javascript">
        (function () {
            'use strict';

            function filter(text, author, month) {
                Array.prototype.slice.call(window.search_data)
                    .forEach(
                        /**
                         * @param {object} entry
                         */
                        function (entry) {
                            entry.element.parentNode.style.display = (
                                (!(!!text) || -1 < entry.data.title.toLowerCase().indexOf(text.toLowerCase()))
                                &&
                                (!(!!author) || 'any' === author || author === entry.data.author)
                                &&
                                (!(!!month) || 'any' === month || month === (function () {
                                    var date = new Date(entry.data.date);
                                    return ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov',
                                        'Dec'][date.getMonth()] + ' ' + date.getFullYear();
                                })())
                            ) ? 'block' : 'none';
                        }
                    );
            }

            /** @type {HTMLFormElement} form */
            var form = document.querySelector('form#search');

            /** @type {HTMLInputElement} searchText */
            var searchText = form.querySelector('input#searchText');
            /** @type {HTMLSelectElement} searchAuthor */
            var searchAuthor = form.querySelector('select#searchAuthor');
            /** @type {HTMLSelectElement} searchAuthor */
            var searchMonth = form.querySelector('select#searchMonth');

            var handleChange = function (event) {
                filter(searchText.value, searchAuthor.options[searchAuthor.selectedIndex].value, searchMonth.options[searchMonth.selectedIndex].value);
            };

            searchText.addEventListener('change', handleChange, false);
            searchText.addEventListener('input', handleChange, false);
            searchAuthor.addEventListener('change', handleChange, false);
            searchMonth.addEventListener('change', handleChange, false);
        })();
    </script>
{% endblock %}
