{# component: ads-banner #}

{% block style %}
    <!-- component: ads-banner -->
    <style>
        body[data-app-ads-banner="true"] div[data-app-component="ads-banner"] {
            display: block;
        }

        body[data-app-ads-banner="false"] div[data-app-component="ads-banner"] {
            display: none;
        }
    </style>
    <style>
        body[data-app-ads-banner-state="true"] div[data-app-component="ad"] {
            display: block;
        }

        body[data-app-ads-banner-state="false"] div[data-app-component="ad"] {
            display: none;
        }

        body[data-app-ads-banner-state="undefined"] div[data-app-component="ad"] {
            display: none;
        }
    </style>
{% endblock %}

{% block data %}
    data-app-ads-banner="{{ (not value|default(false)) ? 'true' : 'false' }}"
    data-app-ads-banner-state="false"
{% endblock %}

{% block html %}
    <!-- component: ads-banner -->
    <div class="alert alert-light border alert-dismissible my-3 pb-0 position-relative" role="alert"
         data-app-component="ads-banner">
        <p>
            {{ source('svg/badge-ad.svg') }} <strong class="ms-1">Ads are nice.</strong>
        </p>

        <div class="collapse collapse-once" id="collapseAdsBanner{{ id }}">
            <p>
                Aren't they? Well, they help me pay the bills, but they can also get in the way quite easily. So you
                decide if you want to see them. :)
            </p>

            <div style="margin-right: -2rem;">
                <hr>

                <button type="button" class="btn btn-outline-primary btn-sm border-2 mb-3">
                    I'm ok with seeing ads
                </button>
                <button type="button" class="btn btn-outline-dark btn-sm border-2 mb-3">
                    No ads for me, sir
                </button>
            </div>

            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>

        <a class="stretched-link" data-bs-toggle="collapse" href="#collapseAdsBanner{{ id }}" role="button"
           aria-expanded="false" aria-controls="collapseAdsBanner{{ id }}" aria-label="Expand"></a>
    </div>
{% endblock %}

{% block script %}
    <!-- component: ads-banner -->
    <script type="text/javascript">
        (function () {
            'use strict';

            function hasCookieConsent() {
                return 'true' === document.body.dataset.appCookieBannerState;
            }

            function getAdsConsent() {
                var value = document.cookie;

                if (-1 < value.indexOf(';')) {
                    value = value.split(';')
                        .find(function (row) {
                            return row.startsWith('ads_consent=');
                        });
                } else {
                    value = '';
                }

                if (!hasCookieConsent() || 'undefined' === typeof value || '' === value) {
                    value = 'ads_consent=undefined';
                }

                return value.split('=')[1];
            }

            function getTimeout(ms) {
                return (12 /*months*/ * 30 /*days*/ * 24 /*hours*/ * 60 /*minutes*/ * 60 /*seconds*/ * (ms ? (1000 /*milliseconds*/) : 1));
            }

            function setAdsConsent(value) {
                if (!hasCookieConsent()) {
                    return;
                }

                var date = new Date();
                date.setTime(date.getTime() + getTimeout(true));

                document.cookie = 'ads_consent=' + value
                    + '; expires=' + date.toUTCString() + '; Max-Age=' + getTimeout(false)
                    + '; path=/'
                    + '; domain=' + location.hostname.replace(/^www\./, '')
                    + '; secure'
                    + '; samesite=lax';
            }

            function init() {
                var value = getAdsConsent();

                document.body.dataset.appAdsBannerState = value;

                switch (value) {
                    case 'undefined':
                        document.body.dataset.appAdsBanner = 'true';

                        break;
                    case 'true':
                        document.body.dataset.appAdsBanner = 'false';

                        enablePersonalizedAds();

                        resumeAds();

                        break;
                    case 'false':
                        document.body.dataset.appAdsBanner = 'true';

                        disablePersonalizedAds();

                        pauseAds();

                        break;
                }
            }

            var list = document.querySelectorAll('[data-app-component="ads-banner"]');

            Array.prototype.slice.call(list)
                .forEach(
                    /**
                     * @param {HTMLDivElement} component
                     */
                    function (component) {
                        /** @type {HTMLDivElement} */
                        var buttonGroup = component.querySelector('div');

                        /** @type {HTMLButtonElement} */
                        var buttonYes = buttonGroup.querySelector('button[type="button"]:first-of-type');
                        /** @type {HTMLButtonElement} */
                        var buttonNo = buttonGroup.querySelector('button[type="button"]:last-of-type');

                        buttonYes.addEventListener('click', function (event) {
                            setAdsConsent('true');

                            document.body.dataset.appAdsBanner = 'false';
                            document.body.dataset.appAdsBannerState = 'true';

                            enablePersonalizedAds();

                            resumeAds();
                        }, false);
                        buttonNo.addEventListener('click', function (event) {
                            setAdsConsent('false');

                            document.body.dataset.appAdsBanner = 'false';
                            document.body.dataset.appAdsBannerState = 'false';

                            disablePersonalizedAds();

                            pauseAds();
                        }, false);
                    }
                );

            init();
        })();
    </script>
{% endblock %}
