{# component: cookie-banner #}

{% block style %}
    <!-- component: cookie-banner -->
    <style>
        body[data-app-cookie-banner="true"] div[data-app-component="cookie-banner"] {
            display: block;
        }

        body[data-app-cookie-banner="false"] div[data-app-component="cookie-banner"] {
            display: none;
        }
    </style>
{% endblock %}

{% block data %}
    data-app-cookie-banner="{{ (not value|default(false)) ? 'true' : 'false' }}"
    data-app-cookie-banner-state="false"
{% endblock %}

{% block html %}
    <!-- component: cookie-banner -->
    <div class="alert alert-light border alert-dismissible my-3 pb-0 position-relative" role="alert"
         data-app-component="cookie-banner">
        <p>
            {{ source('svg/question-square.svg') }} <strong class="ms-1">Heads up!</strong>
        </p>

        <div class="collapse collapse-once show" id="collapseCookieBanner{{ id }}">
            <p>
                I use cookies in my site to offer you a better browsing experience, personalise content, preferences and
                ads, as many others do. I also use cookies to analyse traffic. By continuing to use this site, you
                consent to these cookies being used.
            </p>

            <div style="margin-right: -2rem;">
                <hr>

                <button type="button" class="btn btn-outline-primary btn-sm border-2 mb-3">
                    Alright, fine
                </button>
                <button type="button" class="btn btn-outline-dark btn-sm border-2 mb-3">
                    No, please do not use cookies
                </button>
            </div>

            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <a class="stretched-link" data-bs-toggle="collapse" href="#collapseCookieBanner{{ id }}" role="button"
           aria-expanded="false" aria-controls="collapseCookieBanner{{ id }}" aria-label="Expand"></a>
    </div>
{% endblock %}

{% block script %}
    <!-- component: cookie-banner -->
    <script type="text/javascript">
        (function () {
            'use strict';

            function getCookieConsent() {
                var value = document.cookie;

                if (-1 < value.indexOf(';')) {
                    value = value.split(';')
                        .find(function (row) {
                            return row.startsWith('cookie_consent=');
                        });
                }

                if ('undefined' === typeof value || '' === value) {
                    value = 'cookie_consent=undefined';
                }

                return value.split('=')[1];
            }

            function getTimeout(ms) {
                return (12 /*months*/ * 30 /*days*/ * 24 /*hours*/ * 60 /*minutes*/ * 60 /*seconds*/ * (ms ? (1000 /*milliseconds*/) : 1));
            }

            function setCookieConsent(value) {
                var date = new Date();
                date.setTime(date.getTime() + getTimeout(true));

                document.cookie = 'cookie_consent=' + value
                    + '; expires=' + date.toUTCString() + '; Max-Age=' + getTimeout(false)
                    + '; path=/'
                    + '; domain=' + location.hostname.replace(/^www\./, '')
                    + '; secure'
                    + '; samesite=lax';
            }

            function init() {
                var value = getCookieConsent();

                document.body.dataset.appCookieBannerState = value;

                switch (value) {
                    case 'undefined':
                        document.body.dataset.appCookieBanner = 'true';

                        break;
                    case 'true':
                        document.body.dataset.appCookieBanner = 'false';

                        break;
                    case 'false':
                        document.body.dataset.appCookieBanner = 'false';

                        disableGa();

                        break;
                }
            }

            var list = document.querySelectorAll('[data-app-component="cookie-banner"]');

            Array.prototype.slice.call(list)
                .forEach(
                    /**
                     * @param {HTMLDivElement} component
                     */
                    function (component) {
                        /** @type {HTMLDivElement} */
                        var buttonGroup = component.querySelector('div');

                        /** @type {HTMLButtonElement} */
                        var buttonYes = buttonGroup.querySelector('button[type="button"]:first-of-type');
                        /** @type {HTMLButtonElement} */
                        var buttonNo = buttonGroup.querySelector('button[type="button"]:last-of-type');

                        buttonYes.addEventListener('click', function (event) {
                            setCookieConsent('true');

                            document.body.dataset.appCookieBanner = 'false';
                            document.body.dataset.appCookieBannerState = 'true';
                        }, false);
                        buttonNo.addEventListener('click', function (event) {
                            setCookieConsent('false');

                            document.body.dataset.appCookieBanner = 'false';
                            document.body.dataset.appCookieBannerState = 'false';
                        }, false);
                    }
                );

            init();
        })();
    </script>
{% endblock %}
