{# component: cookie-banner #}

{% block style %}
    <!-- component: cookie-banner -->
    <style>
        body[data-app-cookie-banner="true"] div[data-app-component="cookie-banner"] {
            display: block;
        }

        body[data-app-cookie-banner="false"] div[data-app-component="cookie-banner"] {
            display: none;
        }
    </style>
{% endblock %}

{% block data %}
    data-app-cookie-banner="{{ (not value|default(false)) ? 'true' : 'false' }}"
    data-app-cookie-banner-state="false"
{% endblock %}

{% block html %}
    <!-- component: cookie-banner -->
    <div class="alert alert-light border alert-dismissible my-3 pb-0 position-relative" role="alert"
         data-app-component="cookie-banner">
        <p>
            {{ source('svg/question-square.svg') }} <strong class="ms-1">Heads up!</strong>
        </p>

        <div class="collapse collapse-once show" id="collapseCookieBanner{{ id }}">
            <p>
                {#
                I use cookies in my site to offer you a better browsing experience, personalise content, preferences and
                ads, as many others do. I also use cookies to analyse traffic. By continuing to use this site, you
                consent to these cookies being used.
                #}
                I use cookies in my site to offer you a better browsing experience and preferences, as many others do. I
                also use cookies to analyse traffic. By continuing to use this site, you consent to these cookies being
                used.
            </p>

            <form class="small"
                  name="cookieConsentFlags">
                Storage consent for
                <label class="ps-1" for="cookieConsentFlags__adStorage">
                    <input type="checkbox" name="ad_storage"
                           id="cookieConsentFlags__adStorage"
                           value="1">
                    ad storage (google)
                </label>,
                <label class="ps-1" for="cookieConsentFlags__analyticsStorage">
                    <input type="checkbox" name="analytics_storage"
                           id="cookieConsentFlags__analyticsStorage"
                           value="1" checked>
                    analytics storage (google)
                </label>,
                <label class="ps-1" for="cookieConsentFlags__adUserData">
                    <input type="checkbox" name="ad_user_data"
                           id="cookieConsentFlags__adUserData"
                           value="1" disabled> {# TODO: Make dependent on ads availability. #}
                    ad user data (google)
                </label> and
                <label class="ps-1" for="cookieConsentFlags__adPersonalization">
                    <input type="checkbox" name="ad_personalization"
                           id="cookieConsentFlags__adPersonalization"
                           value="1" disabled> {# TODO: Make dependent on ads availability. #}
                    ad personalization (google)
                </label>.
            </form>

            <div style="margin-right: -2rem;">
                <hr>

                <button type="button" class="btn btn-outline-primary btn-sm border-2 mb-3">
                    Alright, fine
                </button>
                <button type="button" class="btn btn-outline-dark btn-sm border-2 mb-3">
                    No, please do not use cookies
                </button>
            </div>

            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <a class="stretched-link" data-bs-toggle="collapse" href="#collapseCookieBanner{{ id }}" role="button"
           aria-expanded="false" aria-controls="collapseCookieBanner{{ id }}" aria-label="Expand"></a>
    </div>
{% endblock %}

{% block script %}
    <!-- component: cookie-banner -->
    <script type="text/javascript">
        (function () {
            'use strict';

            function getCookieConsent() {
                var value = document.cookie;

                if (0 !== value.length) {
                    value = value.split(';')
                        .find(function (row) {
                            return row.trim()
                                .startsWith('cookie_consent=');
                        });
                } else {
                    value = '';
                }

                if ('undefined' === typeof value || '' === value) {
                    value = 'cookie_consent=undefined';
                }

                return value.split('=')[1];
            }

            function getTimeout(ms) {
                return (12 /*months*/ * 30 /*days*/ * 24 /*hours*/ * 60 /*minutes*/ * 60 /*seconds*/ * (ms ? (1000 /*milliseconds*/) : 1));
            }

            function setCookieConsent(value) {
                var date = new Date();
                date.setTime(date.getTime() + getTimeout(true));

                document.cookie = 'cookie_consent=' + value
                    + '; expires=' + date.toUTCString() + '; Max-Age=' + getTimeout(false)
                    + '; path=/'
                    + '; domain=' + location.hostname.replace(/^www\./, '')
                    + '; secure'
                    + '; samesite=lax';
            }

            /**
             * @param {HTMLInputElement} flag
             * @return {string}
             */
            function getConsentFlag(flag) {
                return flag.checked ? 'granted' : 'denied';
            }

            /**
             * @param {boolean[]} values
             */
            function setConsentFlags(values) {
                var flags = getConsentFlags();
                if (!flags) {
                    return;
                }

                // Truncate the array, if there are more values.
                //  The number is expected to be even.
                if (values.length > flags.length) {
                    values.length = flags.length;
                }
                values.forEach(function (f, i) { flags[i].checked = f; });
            }

            /**
             * @return {HTMLFormControlsCollection}
             */
            function getConsentFlags() {
                var form = document.forms['cookieConsentFlags'];
                if (!form) {
                    return null;
                }

                return form.elements;
            }

            function init() {
                var value   = getCookieConsent();
                var values  = value.split(',');

                if (values.length > 1) {
                    // Re-assign value to 'true' or 'false' string.
                    value   = values.shift();
                    values  = values.map(function (f) { return 0 < +f });

                    // Set the flag states, if we have it already,
                    //  else the default states remain and get accepted.
                    setConsentFlags(values);
                }

                var flags   = getConsentFlags();
                var consent = 'true' === value ? {
                    'ad_storage':         getConsentFlag(flags['ad_storage']),
                    'analytics_storage':  getConsentFlag(flags['analytics_storage']),
                    'ad_user_data':       getConsentFlag(flags['ad_user_data']),
                    'ad_personalization': getConsentFlag(flags['ad_personalization']),
                } : undefined;

                document.body.dataset.appCookieBannerState = value;

                switch (value) {
                    case 'undefined':
                        document.body.dataset.appCookieBanner = 'true';

                        initGa();

                        break;
                    case 'true':
                        document.body.dataset.appCookieBanner = 'false';

                        initGa();
                        consentGa(consent);

                        break;
                    case 'false':
                        document.body.dataset.appCookieBanner = 'false';

                        disableGa();

                        break;
                }
            }

            var list = document.querySelectorAll('[data-app-component="cookie-banner"]');

            Array.prototype.slice.call(list)
                .forEach(
                    /**
                     * @param {HTMLDivElement} component
                     */
                    function (component) {
                        /** @type {HTMLDivElement} */
                        var buttonGroup = component.querySelector('div');

                        /** @type {HTMLButtonElement} */
                        var buttonYes = buttonGroup.querySelector('button[type="button"]:first-of-type');
                        /** @type {HTMLButtonElement} */
                        var buttonNo = buttonGroup.querySelector('button[type="button"]:last-of-type');

                        buttonYes.addEventListener('click', function (event) {
                            // Build the value based on checkbox states, only using the index.
                            var flags  = getConsentFlags();
                            var values = (new Array(flags.length))
                                .fill(0)
                                .map(function (f, i) { return f + flags[i].checked; });
                            values.unshift('true');
                            var value  = values.join(',');

                            setCookieConsent(value);

                            document.body.dataset.appCookieBanner = 'false';
                            document.body.dataset.appCookieBannerState = 'true';

                            // Update gtag consent as well.
                            var consent = 'true' === value ? {
                                'ad_storage':         getConsentFlag(flags['ad_storage']),
                                'analytics_storage':  getConsentFlag(flags['analytics_storage']),
                                'ad_user_data':       getConsentFlag(flags['ad_user_data']),
                                'ad_personalization': getConsentFlag(flags['ad_personalization']),
                            } : undefined;

                            consentGa(consent);
                        }, false);
                        buttonNo.addEventListener('click', function (event) {
                            setCookieConsent('false');

                            document.body.dataset.appCookieBanner = 'false';
                            document.body.dataset.appCookieBannerState = 'false';

                            disableGa();
                        }, false);
                    }
                );

            init();
        })();
    </script>
{% endblock %}
