{# component: theme #}

{% block style %}
    <!-- component: theme -->
    <style>
    </style>
{% endblock %}

{% block data %}
    data-app-theme="{{ value|default('light') }}"
{% endblock %}

{% block html %}
    <!-- component: theme -->
    <div class="d-flex mx-2 mt-2" data-app-component="theme">
        <div class="lh-sm">
            {{ source('svg/brightness-low.svg') }}
        </div>
        <div class="form-check form-switch ps-5">
            <input class="form-check-input" type="checkbox" id="switchCheck{{ id }}">
            <label class="form-check-label" for="switchCheck{{ id }}">
            </label>
        </div>
        <div class="lh-sm">
            {{ source('svg/brightness-high.svg') }}
        </div>
    </div>
{% endblock %}

{% block script %}
    <!-- component: theme -->
    <script type="text/javascript">
    </script>
{% endblock %}
