{# component: theme #}

{% block style %}
    <!-- component: theme -->
    <style>
        body {
            transition: filter 500ms linear;
        }

        /**
         * WARNING: The filter property breaks fixed positioning!
         *  https://bugzilla.mozilla.org/show_bug.cgi?id=1311070#c8
         *  https://bugzilla.mozilla.org/show_bug.cgi?id=1125767#c5
         *  https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context
         */

        body[data-app-theme="dark"] {
            filter: invert(100%);
        }

        body[data-app-theme="light"] {
            filter: invert(0%);
        }
    </style>
{% endblock %}

{% block data %}
    data-app-theme="{{ value|default(false) ? 'dark' : 'light' }}"
{% endblock %}

{% block html %}
    <!-- component: theme -->
    <div class="d-flex mx-2 mt-2" style="font-size: 16px;" data-app-component="theme">
        <div class="lh-sm">
            {{ source('svg/brightness-high.svg') }}
        </div>
        <div class="form-check form-switch ps-5">
            <input class="form-check-input" type="checkbox" id="switchCheck{{ id }}">
            <label class="form-check-label" for="switchCheck{{ id }}">
            </label>
        </div>
        <div class="lh-sm">
            {{ source('svg/brightness-low.svg') }}
        </div>
    </div>
{% endblock %}

{% block script %}
    <!-- component: theme -->
    <script type="text/javascript">
        (function () {
            'use strict';

            function getTheme() {
                var initialTheme = 'light';

                var theme = localStorage.getItem('component.theme.theme');
                if (!!theme && ['dark', 'light'].includes(theme)) {
                    initialTheme = theme;
                } else {
                    var preferDarkTheme = window.matchMedia('(prefers-color-scheme: dark)');
                    if (preferDarkTheme.matches) {
                        initialTheme = 'dark';
                    } else {
                        var date = new Date();
                        if (7 > date.getHours() || 19 < date.getHours()) {
                            initialTheme = 'dark';
                        }
                    }
                }

                return initialTheme;
            }

            var list = document.querySelectorAll('[data-app-component="theme"]');

            document.body.dataset.appTheme = getTheme();

            Array.prototype.slice.call(list)
                .forEach(
                    /**
                     * @param {HTMLDivElement} component
                     */
                    function (component) {
                        /** @type {HTMLInputElement} */
                        var checkbox = component.querySelector('input[type="checkbox"]');

                        checkbox.addEventListener('change', function (event) {
                            document.body.dataset.appTheme = !!checkbox.checked ? 'dark' : 'light';

                            localStorage.setItem('component.theme.theme', document.body.dataset.appTheme);
                        }, false);

                        checkbox.checked = 'dark' === document.body.dataset.appTheme;
                    }
                );
        })();
    </script>
{% endblock %}
