{# component: theme #}

{% block style %}
    <!-- component: theme -->
    <style>
        body[data-app-theme="dark"] {
            filter: invert(100%);
        }
        body[data-app-theme="light"] {
            filter: invert(0%);
        }
    </style>
{% endblock %}

{% block data %}
    data-app-theme="{{ value|default(false) ? 'dark' : 'light' }}"
{% endblock %}

{% block html %}
    <!-- component: theme -->
    <div class="d-flex mx-2 mt-2" data-app-component="theme">
        <div class="lh-sm">
            {{ source('svg/brightness-high.svg') }}
        </div>
        <div class="form-check form-switch ps-5">
            <input class="form-check-input" type="checkbox" id="switchCheck{{ id }}"{% if value|default(false) %} checked{% endif %}>
            <label class="form-check-label" for="switchCheck{{ id }}">
            </label>
        </div>
        <div class="lh-sm">
            {{ source('svg/brightness-low.svg') }}
        </div>
    </div>
{% endblock %}

{% block script %}
    <!-- component: theme -->
    <script type="text/javascript">
        (function () {
            'use strict';

            // TODO: Implement user preference.
            //  https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/#storing-preferences.

            function getTheme() {
                var initialTheme = 'light';

                var preferDarkTheme = window.matchMedia('(prefers-color-scheme: dark)');
                if (preferDarkTheme.matches) {
                    initialTheme = 'dark';
                } else {
                    var date = new Date();
                    if (7 > date.getHours() || 19 < date.getHours()) {
                        initialTheme = 'dark';
                    }
                }

                return initialTheme;
            }

            var list = document.querySelectorAll('[data-app-component="theme"]');

            document.body.dataset.appTheme = getTheme();

            Array.prototype.slice.call(list)
                .forEach(
                    /**
                     * @param component HTMLDivElement
                     */
                    function (component) {
                        /** @type HTMLInputElement */
                        var checkbox = component.querySelector('input[type="checkbox"]');

                        checkbox.addEventListener('change', function (event) {
                            document.body.dataset.appTheme = !!checkbox.checked ? 'dark' : 'light';
                        }, false);

                        checkbox.checked = 'dark' === document.body.dataset.appTheme;
                    }
                );
        })();
    </script>
{% endblock %}
