{% extends '_page.html.twig' %}

{% set highlighted_code = highlighted_code|default(false) %}

{% set reader_mode = reader_mode|default(false) %}
{% set dark_mode = dark_mode|default(false) %}
{% set zoom_level = zoom_level|default(0) %}
{% set main_content_id = main_content_id|default('#main') %}
{% set cookie_consent = cookie_consent|default(false) %}

{% set navbar_content = [
    {
        'label': 'Overview',
        'path': 'overview',
    },
    {
        'label': 'Blog',
        'path': 'blog',
    },
    {
        'label': 'About me',
        'path': 'about-me',
    },
] %}
{% set random_color = random([
    '#420039',
    '#A76571',
    '#F5E2C8',
    '#7494EA',
    '#DC136C',

    '#35FF69',
    '#4DA1A9',
    '#4A306D',
    '#BBDEF0',
    '#F7FF58',

    '#495867',
    '#1d70a2',
    '#8c4848',
    '#0b3d3d',
    '#A1CDA8',
]) %}

{% block title %}machinateur.dev{% endblock %}

{% block style %}
    {{ parent() }}
    {% if highlighted_code is same as(true) %}
        <link rel="stylesheet" href="/res/style/highlight/default.css">
    {% endif %}
    <style>
        @media (min-width: 992px) {
            .border-0-lg {
                border: 0 !important;
            }
        }
    </style>
    {% with %}{{ block('style', 'component/reader-mode.html.twig')|raw }}{% endwith %}
    {% with %}{{ block('style', 'component/theme.html.twig')|raw }}{% endwith %}
    {% with %}{{ block('style', 'component/zoom.html.twig')|raw }}{% endwith %}
    {% with %}{{ block('style', 'component/main-content.html.twig')|raw }}{% endwith %}
    {% with %}{{ block('style', 'component/cookie-banner.html.twig')|raw }}{% endwith %}
{% endblock %}

{% block body_class %}bg-white{% endblock %}

{% block body_data %}
    {% with { value: reader_mode } %}{{ block('data', 'component/reader-mode.html.twig')|raw }}{% endwith %}
    {% with { value: dark_mode } %}{{ block('data', 'component/theme.html.twig')|raw }}{% endwith %}
    {% with { value: zoom_level } %}{{ block('data', 'component/zoom.html.twig')|raw }}{% endwith %}
    {% with { value: main_content_id } %}{{ block('data', 'component/main-content.html.twig')|raw }}{% endwith %}
    {% with { value: cookie_consent } %}{{ block('data', 'component/cookie-banner.html.twig')|raw }}{% endwith %}
{% endblock %}

{% block body %}
    {% block body_content_prepend %}
        {% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom border-top">
                <div class="container-fluid">
                    <a class="navbar-brand font-monospace py-3" href="{{ path('index_view', {
                        'path': '',
                    }) }}">
                        <img src="/res/image/profile-machinateur.png" alt="" width="34" height="34"
                             class="border rounded-circle">

                        <span>machinateur.dev</span>
                    </a>

                    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav justify-content-around w-100 mx-auto my-2 my-lg-0 py-1">
                            {% block navbar_content %}
                                {% for navbar_link in navbar_content %}
                                    <a class="nav-link{% if navbar_link.path is same as(current_path) %} active"
                                       aria-current="page{% endif %}" href="{{ path('index_view', {
                                        'path': navbar_link.path,
                                    }) }}">{{ navbar_link.label }}</a>
                                {% endfor %}
                            {% endblock %}
                        </div>

                        <div class="d-flex text-center border border-0-lg rounded rounded-3 p-1">
                            {% with { id: 0 } %}{{ block('html', 'component/reader-mode.html.twig')|raw }}{% endwith %}

                            {% with { id: 0, value: dark_mode } %}{{ block('html', 'component/theme.html.twig')|raw }}{% endwith %}

                            <div class="ms-auto invisible">
                            </div>

                            {% with { id: 0 } %}{{ block('html', 'component/zoom.html.twig')|raw }}{% endwith %}

                            {% with { id: 0 } %}{{ block('html', 'component/main-content.html.twig')|raw }}{% endwith %}
                        </div>
                    </div>
                </div>
            </nav>
        {% endblock %}
    {% endblock %}

    <div class="bg-light border-top border-5 min-vh-100" id="{{ main_content_id[1:] }}"
         style="border-color: {{ random_color }}!important;">
        <div class="container">
            {% with { id: 0 } %}{{ block('html', 'component/cookie-banner.html.twig')|raw }}{% endwith %}

            {% block body_content %}
            {% endblock %}
        </div>
    </div>

    {% block body_content_append %}
        <div class="navbar navbar-light bg-white border-bottom border-top">
            <div class="container-fluid justify-content-around">
                <div class="px-5 py-3">
                    Copyright &copy; {{ 'now'|date('Y') }}, machinateur.dev
                </div>

                <div class="px-5 py-3">
                    <a class="text-decoration-none px-2" href="https://github.com/machinateur"
                       target="_blank" title="machinateur on GitHub" rel="noopener">
                        {{ source('svg/github.svg') }}
                    </a>
                    <a class="text-decoration-none px-2" href="https://twitter.com/machinateur"
                       target="_blank" title="machinateur on Twitter" rel="noopener">
                        {{ source('svg/twitter.svg') }}
                    </a>
                </div>

                <div class="text-center w-100 small px-5 py-3">
                    Made with <span style="color: #dc3545;">{{ source('svg/heart-fill.svg') }}</span> in Germany
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block script %}
    {{ parent() }}
    {% if highlighted_code is same as(true) %}
        <script src="/res/script/highlight/highlight.min.js" type="text/javascript"></script>
        <script typeof="text/javascript">
            (function () {
                hljs.highlightAll();
            })();
        </script>
    {% endif %}
    {% with %}{{ block('script', 'component/src.html.twig')|raw }}{% endwith %}
    {% with %}{{ block('script', 'component/reader-mode.html.twig')|raw }}{% endwith %}
    {% with %}{{ block('script', 'component/theme.html.twig')|raw }}{% endwith %}
    {% with %}{{ block('script', 'component/zoom.html.twig')|raw }}{% endwith %}
    {% with %}{{ block('script', 'component/main-content.html.twig')|raw }}{% endwith %}
    {% with %}{{ block('script', 'component/cookie-banner.html.twig')|raw }}{% endwith %}
{% endblock %}
