{% extends '_page.html.twig' %}

{% set reader_mode = false %}
{% set theme = 'light' %}
{% set zoom_level = 0 %}
{% set main_content_id = '#main' %}

{% set navbar_content = [
    {
        'label': 'Overview',
        'path': '/',
    },
    {
        'label': 'Blog',
        'path': '/blog',
    },
    {
        'label': 'About',
        'path': '/about',
    },
] %}
{% set random_color = random([
    '#420039',
    '#A76571',
    '#F5E2C8',
    '#7494EA',
    '#DC136C',
    '#35FF69',
    '#4DA1A9',
    '#4A306D',
    '#BBDEF0',
    '#F7FF58',
    '#495867',
]) %}

{% block style %}
    {{ parent() }}
    <style>
        @media (min-width: 992px) {
            .border-0-lg {
                border: 0 !important;
            }
        }
    </style>
    {% with %}{{ block('style', 'component/reader-mode.html.twig') }}{% endwith %}
{% endblock %}

{% block body_data %}
    {% with { value: reader_mode } %}{{ block('data', 'component/reader-mode.html.twig') }}{% endwith %}
    {% with { value: theme } %}{{ block('data', 'component/theme.html.twig') }}{% endwith %}
    {% with { value: zoom_level } %}{{ block('data', 'component/zoom.html.twig') }}{% endwith %}
    {% with { value: main_content_id } %}{{ block('data', 'component/main-content.html.twig') }}{% endwith %}
{% endblock %}

{% block body %}
    {% block body_content_prepend %}
        {% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom border-top">
                <div class="container-fluid">
                    <a class="navbar-brand font-monospace px-5 py-3" href="#">
                        <img src="res/image/profile-machinateur.png" alt="" width="auto" height="30"
                             class="border rounded-circle">

                        machinateur.dev
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav justify-content-between w-100 mx-auto my-2 my-lg-0 px-5 py-3">
                            {% block navbar_content %}
                                {% for navbar_link in navbar_content %}
                                    <a class="nav-link" href="{{ path('index_view', {
                                        'path': navbar_link.path|trim('/', 'left'),
                                    }) }}">{{ navbar_link.label }}</a>
                                {% endfor %}
                            {% endblock %}
                        </div>

                        <div class="d-flex text-center px-5 py-3 border border-0-lg rounded rounded-3">
                            {% with { id: 0 } %}{{ block('html', 'component/reader-mode.html.twig') }}{% endwith %}

                            {% with { id: 0 } %}{{ block('html', 'component/theme.html.twig') }}{% endwith %}

                            <div class="ms-auto invisible">
                            </div>

                            {% with { id: 0 } %}{{ block('html', 'component/zoom.html.twig') }}{% endwith %}

                            {% with { id: 0 } %}{{ block('html', 'component/main-content.html.twig') }}{% endwith %}
                        </div>
                    </div>
                </div>
            </nav>
        {% endblock %}
    {% endblock %}

    <a class="invisible" id="{{ main_content_id }}"></a>
    <div class="border-top border-5 min-vh-100" style="border-color: {{ random_color }}!important;">
        <div class="container">
            {% block body_content %}
            {% endblock %}
        </div>
    </div>

    {% block body_content_append %}
        <div class="navbar navbar-light bg-white border-bottom border-top">
            <div class="container-fluid">
                <div class="px-5 py-3">
                    Copyright &copy; {{ 'now'|date('Y') }}, machinateur.dev
                </div>

                <div class="px-5 py-3">
                    <a class="text-decoration-none px-2" href="https://github.com/machinateur"
                       title="machinateur on GitHub">
                        {{ source('svg/github.svg') }}
                    </a>
                    <a class="text-decoration-none px-2" href="https://twitter.com/machinateur"
                       title="machinateur on Twitter">
                        {{ source('svg/twitter.svg') }}
                    </a>
                </div>

                <div class="text-center w-100 small px-5 py-3">
                    Made with <span class="text-danger">{{ source('svg/heart-fill.svg') }}</span> in Germany
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block script %}
    {{ parent() }}
    {% with %}{{ block('script', 'component/reader-mode.html.twig') }}{% endwith %}
    {% with %}{{ block('script', 'component/theme.html.twig') }}{% endwith %}
    {% with %}{{ block('script', 'component/zoom.html.twig') }}{% endwith %}
    {% with %}{{ block('script', 'component/main-content.html.twig') }}{% endwith %}
{% endblock %}
